@model Client_Application.Model.Cliente
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Details";
    Layout = "../Shared/_Layout.cshtml";
}

<h1>Detalhes do cliente</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco.Cep)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereco.Cep)
        </dd>

    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco.Logradouro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereco.Logradouro)
        </dd>

    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco.Complemento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereco.Complemento)
        </dd>

    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco.Bairro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereco.Bairro)
        </dd>

    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco.Localidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereco.Localidade)
        </dd>

    </dl>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco.Uf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereco.Uf)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar a lista</a>
</div>
